@font-face {
    font-family: 'Interstate-Light';
    src: url('../assets/fonts/Interstate-Light.woff2') format('woff2'), url('../assets/fonts/Interstate-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Interstate-LightCond';
    src: url('../assets/fonts/Interstate-LightCond.woff2') format('woff2'), url('../assets/fonts/Interstate-LightCond.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Interstate-RegularComp';
    src: url('../assets/fonts/Interstate-RegularComp.woff2') format('woff2'), url('../assets/fonts/Interstate-RegularComp.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Interstate-BoldCond';
    src: url('../assets/fonts/Interstate-BoldCond.woff2') format('woff2'), url('../assets/fonts/Interstate-BoldCond.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Interstate-BlackCond';
    src: url('../assets/fonts/Interstate-BlackComp.woff2') format('woff2'), url('../assets/fonts/Interstate-BlackComp.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Interstate-RegularComp';
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.wrapper {
    width: 100vw;
}

#ui-tag {
    margin-left: 48px;
}

#ux-tag {
    margin-left: -40px;
}

.text-name {
    font-size: 22px;
}

.card {
    border-color: transparent;
}

main {
    position: relative;
    width: 100%;
    height: 64vh;
}

.light-cond {
    font-family: 'Interstate-LightCond', sans-serif;
}

.font-size-small {
    font-family: 'Interstate-LightCond', sans-serif;
}

.bold-cond {
    font-family: 'Interstate-BoldCond', sans-serif !important;
}

.black-cond {
    font-family: 'Interstate-BlackCond';
}

.reg-cond {
    font-family: 'RegularComp', sans-serif;
}

.blue-bg {
    border-radius: 4px;
    position: absolute;
    overflow: hidden;
    top: 20px;
    left: 30%;
    display: block;
    width: 230px;
    height: 312px;
    background: rgb(8, 151, 161);
    background: linear-gradient(0deg, rgba(8, 151, 161, 1) 0%, rgba(74, 180, 163, 1) 100%);
}

footer {
    position: absolute;
    bottom: 0;
}

.card-text {
    font-size: 260px;
    color: white;
    opacity: .3;
}

.card-text:hover {
    z-index: 5;
}

.blue-bg:hover {
    cursor: pointer;
    z-index: 4;
    transition-delay: 300ms;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.yellow-bg {
    cursor: pointer;
    overflow: hidden;
    border-radius: 4px;
    position: absolute;
    bottom: 0;
    right: 30%;
    display: block;
    width: 230px;
    height: 312px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    background: rgb(255, 213, 0);
    background: linear-gradient(180deg, rgba(255, 213, 0, 1) 0%, rgba(186, 105, 15, 1) 100%);
}

.square {
    cursor: pointer;
    display: block;
    position: absolute;
    transform: translate(-50%, -60%);
    top: 62%;
    left: 50%;
    z-index: 6;
    width: 230px;
    height: 325px;
    background: transparent;
    border: 8px solid white;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
}

.role-title {
    font-size: 42px;
}

a {
    color: #0897A1;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

i {
    font-size: 24px;
}

a:hover {
    text-decoration: none;
    color: #BA690F;
    transition-delay: 300ms;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.contact {
    position: absolute;
    right: 0;
    min-height: 40px;
}

header {
    position: relative;
    width: 100%;
    padding-top: 16px;
}